

/* css deel index.html */


a{
    position: absolute;

    color:red;
    font-size: large;
    box-sizing: border-box;
   
    
}
*{
    margin: 0;
    padding: 0;
}


.banner-text{
    padding-top: 100px;
    margin-left: 50px;
    color: red;
    ;

}
.banner-text h2{
    
    font-weight: bold;
    font-size: 25px;
    color: red;
    font-style: italic;
    margin-top: 40px;
}
.banner-text h1{
    margin-left: 5px;
    font-size: 100px;
    
    
}
.banner-text h3{
    margin-top: 50px;

}


        /* Deel css profiel.html */
        
        
        .pd{
            width: 500px;
            margin-top: 20px;
           
            color:red;
            font-size: 18px;
        
        }
        
       
        h2{
            color:white;
            margin-top: 30px;
        }
        h1{
            color:white
        }
        ul{
            color: red;
            font-size: 20px;
        }
       
        
/* Deel css getuigenissen.html */
                    .hometag {
                        color:red;
                        font-weight: bold;
                        font-size: 30px;
                        position: relative;
                    }
                    
                    p{
                        width: 500px;
                       
                        color:red;
                        font-size: 18px;
                    
                    }
                    
                    
                  
                    
                    
                    
                   .naam {
                        color:white;
                        margin-top: 20px;
                        font-size: 20px;

                    }
                    
                    ul{
                        color: red;
                        font-size: 20px;
                    }
                   
                    
                    .pgetui{
                        width: 300px;
                        margin-top: 10px; ;
                    }
                    
                                
                                
                                /* Deel css bronnen.html */
                                
                            p{
                                color: red;
                            }
                            
                            h1{
                                color:white;
                            }
 /* Deel css comics.html */
 #hometagC{
    color:black;
    font-weight: bold;
    font-size: 30px;
}




#achtergrondC {
  background-image: url(fotos/dpco.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;


}
#ulC{
    color: black;
    margin-left: 800px;
    
}


#h1C{
    padding: absolute;
    margin-left: 820px;
    
    color: white;
}
