
.logo {
    position: absolute;
    width: 100px;
    }
/* profiel*/


  #wadewilson{
    position: absolute;
  margin-left: 400px;
  border: 10px solid white;
    
}
/* Deel css getuigenissen.html */


.imgVan{
  position: absolute;
margin-left: 500px;
border: 10px solid white;
margin-bottom: 400px;
  
}
.imgWolf{
  position: absolute;
margin-left: 500px;
border: 10px solid white;
margin-bottom: 400px;
}
.imgAI{
  position: absolute;
margin-left: 500px;
border: 10px solid white;
margin-bottom: 400px;
}
.imgDOP{
  position: absolute;
margin-left: 500px;
border: 10px solid white;
margin-bottom: 450px;
}
/* Deel css comics.html */
#CH1{
  position: absolute;
  margin-left: 600px;
  border: 10px solid black;
  margin-bottom: 200px;
}
#CH2{
  position: absolute;
  margin-left: 800px;
  border: 10px solid black;
  margin-bottom: 200px;
}
#CH3{
  position: absolute;
  margin-left: 1000px;
  border: 10px solid black;
  margin-bottom: 200px;
}